<template>
    <div>
        <label>{{__('contractuo.welcome') + ' ' + name}}</label>
        <div>
            <button @click="createContract" class="btn btn-primary p-2">
                {{ __('contract.create') }}
            </button>
        </div>
    </div>
</template>
<script>


export default {
    components: {},
    props: {
        name: {
            type: String,
            required: true
        },
    },
    methods:{
        createContract(){
            window.location.href = '/contracts/create'
        }
    }
};
</script>
